# Supabase Setup (Find these in your Supabase Dashboard -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://aovlqqpviwnlfvcwiovy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvdmxxcXB2aXdubGZ2Y3dpb3Z5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNjQ0MzcsImV4cCI6MjA5NDg0MDQzN30.1L88pSvO6rKu78I2m9kYQoxUjclo_mbD3y-1AMH3muQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvdmxxcXB2aXdubGZ2Y3dpb3Z5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI2NDQzNywiZXhwIjoyMDk0ODQwNDM3fQ.P2jl8gAOt7pRKMRkvMEMOWRUD7VarjhenEq5MDA2T1E
# Google Gemini API
GEMINI_API_KEY=AIzaSyDeyXDiNhzwSfDeUBYm4ikMXKn7nDrVxg8


